#donors {
    font-size: 1.1em;
}

#total_header {
    font-size: 6em;
}

* {
    font-family: Ubuntu;
}

#top-bar {
    padding: 1em;
}

.header-p {
    font-size: 0.8em;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-item {
  padding: 0.3em;
  text-align: center;
  position: relative;
}

.donate_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donate_text {
    padding-top: 0.4em;
}

.low-padding{
    padding: 0.4em;
}

#padding-bottom {
    padding-bottom: 5em;
}   