#donors {
    font-size: 1.1em;
    font-weight: bold;
}

#total_header {
    font-size: 7.2em;
}

.no-top {
    padding-top: 0.3em;
    margin-top: 0em;
}

.donate-btn {
    background-color:#a60fa3;
    border-color:#a60fa3;
    transition-duration: 0.2s;
}

.donate-btn:hover {
    background-color:#e354de;
    border-color:#e354de;
}

.little-pad {
    padding: 0.5em;
    margin: 0.5em;
}

* {
    font-family: Ubuntu;
}

#top-bar {
    padding: 0.1em;
    margin: 0;
}

#bottom-bar {
    padding: 1em;
    margin-bottom: 0em;
}

.header-p {
    font-size: 0.8em;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid-item {
  padding: 0.1em;
  text-align: center;
  position: relative;
}

.general {
    font-size: 1.2em;
    max-width: 80%;
    margin: 0 auto 0 auto;
}

.charity-link a {
    color: black;
    font-weight: bold;
}

.smaller-general {
    font-size: 1.1em;
}

.donate_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.donate_text {
    padding-top: 0.4em;
}

.low-padding{
    padding: 0.3em;
}

#padding-bottom {
    padding-bottom: 5em;
}   