<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" + "?v=1">
    <meta charset="utf-8">
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Cutty2Castle</title>
	{% endif %}
</head>

<body>
 
    <div class="jumbotron text-center">
      <h1>Cutty2Castle</h1>
      <p>Trying out the Bootstrap CSS</p> 
    </div>
    
    
    <div class="container">
      <strong><nav>
        <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </nav></strong>
      {% block content %}{% endblock %}
    </div>
</body>
</html>