<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" + "?v=3">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" + "?v=3">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <meta charset="utf-8">
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Cutty2Castle</title>
	{% endif %}
</head>

<body>
 
    <div class="jumbotron text-center" id="top-bar">
      <h3 class="little-pad"><span class="header-p">50 MILE CHARITY WALK FROM</span><br>
      <b>CUTTY SARK</b> <span class="header-p">TO</span> <b>WINDSOR CASTLE</b><br>
    </div>
    
    
    
    <div class="container no-top" id="padding-bottom">
      {% block content %}{% endblock %}
    </div>
    
     <div class="jumbotron text-center" id="bottom-bar">
      <p>Hey hey heeeey</p>
    </div>
    
</body>
</html>