{% extends "base.html" %}

{% block content %}
    <p align="center"><a href="{{ url_for('home') }}">Return Home</a></p>
    <h1 class="middly">Against Malaria Foundation</h1>
    <br>
    <p class="general">
        A consistently top-rated charity by <a href="https://www.givewell.org/charities/amf">GiveWell</a>, 
        Against Malaria Foundation are a charity that provides funding for long-lasting insecticide-treated nets, 
        for protection against malaria, in developing countries.<br><br>
        In 2019, there were an estimated 229 million cases of malaria worldwide. The estimated number of deaths from
        malaria in 2019 was 409,000, with 67% of deaths being children under 5.<br>
        The most effective way of preventing malaria is by sleeping under a mosquito net, each net costs about $2 and
        lasts 3-4 years.<br><br>
        Every net matters, and through AMF 100% of public donations goes to buying nets.<br>
        We strongly believe in this charity as supporting them is one of the most effective way to save lives 
        and prevent illness with your donation.
        <br><br>
        Read more about them on their <a href="https://www.againstmalaria.com/Default.aspx">official site</a>.
    </p>
    <br>
    <div class="middly">
        <a class="btn btn-lg btn-primary low-padding donate-btn" href="https://www.againstmalaria.com/Donate.aspx?FundRaiserID=8534&ProjectID=1" role="button">Donate</a>
        <p class="donate_text">Via their fundraising page</p>
    </div>
        
    <br><br>
    <h1 class="middly">Dean Farm Trust</h1>
    <br>
    <p class="general">
        Dean Farm Trust is an animal sanctuary in Wales that rescues animals from slaughter, neglect and abuse.<br>
        The charity believes that all humans and animals are entitled to live a life free from suffering, a message we
        strongly support.<br><br>
        The sanctuary is currently home to over 180 animals living on 62 acres of land. The charity also aims to provide 
        education for people on how what we buy has a direct impact on human and animal welfare. By providing information on
        the use of animals factory farming, intensive breeding and cruel sports, 
        they hope to help people make cruelty free choices where ever possible.<br>
        With approximately 1.2 billion land animals are killed for meat every year in the UK alone, we believe that the 
        message of animal welfare & is an issue which needs to be better addressed.<br><br>
        The trust relies entirely on donations, and by making a donation to them you will help save and better the lives of 
        innocent animals from across the UK - and help raise awareness of their cause.
        <br><br>
        Read more about them on their <a href="https://deanfarmtrust.org.uk/">official site</a>.
    </p>
    <br>
    <div class="middly">
        <a class="btn btn-lg btn-primary low-padding donate-btn" href="https://www.justgiving.com/fundraising/cutty2castle" role="button">Donate</a>
        <p class="donate_text">Via JustGiving</p>
    </div>
{% endblock %}
