{% extends "base.html" %}

{% block content %}
    <script src="static/animate_value.js"></script>
    <main class="d-flex h-100 text-center text-white bg-dark">
        <h1 id="total_header">£<span id="total">{{ total }}</span></h1>
        <p class="lead">raised by <span id="donors">{{ donors }}</span> donors</p>
    </main>
    <br>
    <p align="center">We are raising money for the following charities, please consider donating to one or both</p>
    <div class="grid-container">
        <div class="grid-item">
            <img src="static/amf.jpg" alt="Against Malaria Foundation" width="60%">
        </div>
        <div class="grid-item">
            <img src="static/dft.jpg" alt="Dean Farm Trust" width="80%" class="donate_img">
        </div>
        <div class="grid-item">
        <a class="btn btn-lg btn-primary" href="https://www.againstmalaria.com/Donate.aspx?FundRaiserID=8534&ProjectID=1" role="button">Donate</a>
            <p class="donate_text">Donate to Against Malaria Foundation via their fundraising page</p>
        </div>
        <div class="grid-item">
            <a class="btn btn-lg btn-primary" href="https://www.againstmalaria.com/Donate.aspx?FundRaiserID=8534&ProjectID=1" role="button">Donate</a>
            <p class="donate_text">Donate to Dean Farm Trust via JustGiving</p>
        </div>
        </div>
    </div>

    <script>animateValue("total", -1, {{ total }}, 2500);</script>
    <script>animateValue("donors", -1, {{ donations }}, 1500);</script>

{% endblock %}