{% extends "base.html" %}

{% block content %}
    <script src="static/animate_value.js"></script>
    <main class="d-flex h-100 text-center text-white bg-dark no-top">
        <h1 class="no-top"id="total_header">£<span id="total">{{ total }}</span></h1>
        <p class="lead">RAISED BY <span id="donors">{{ donors }}</span> DONORS</p>
        <img src="{{ url_for('static', filename='c2cimg.png') }}" width="25%">
    </main>
    
    <br>
    <p align="center" class="general">
        On July 31<sup>st</sup> 2021 we will be walking 50 miles along the River Thames to raise money for
        the <span class="charity-link"><a href="https://www.againstmalaria.com/Default.aspx">Against Malaria Foundation</a></span>
        and <span class="charity-link"><a href="https://deanfarmtrust.org.uk/">Dean Farm Trust</a></span>.
        <br><br>
        As we discuss <a href="{{ url_for('charities') }}">here</a>, both of these causes are very close to our hearts, and we hope that by
        completing this walk we can raise both money and awareness for these amazing charities.
        <br><br>
        To find more information on the walk, please scroll further down this page.<br>
        To sponsor us, please consider donating to one or both of these charities using the links provided below.<br><br>
        Thank you for your support,<br>
        Harry & Charlie
    </p>
    <div class="grid-container">
        <div class="grid-item">
            <img src="static/amf.jpg" alt="Against Malaria Foundation" width="50%">
        </div>
        <div class="grid-item">
            <img src="static/dft.jpg" alt="Dean Farm Trust" width="66%" class="donate_img">
        </div>
        <div class="grid-item">
            <a class="btn btn-lg btn-primary low-padding donate-btn" href="https://www.againstmalaria.com/Donate.aspx?FundRaiserID=8534&ProjectID=1" role="button">Donate</a>
            <p class="donate_text">Via their fundraising page</p>
        </div>
        <div class="grid-item">
            <a class="btn btn-lg btn-primary low-padding donate-btn" href="https://www.justgiving.com/fundraising/cutty2castle" role="button">Donate</a>
            <p class="donate_text">Via JustGiving</p>
        </div>
    </div>
    
    <br><br>
    <h2 align="center">ABOUT THE WALK</h2>
    <p class="general">
        The walk will begin at Cutty Sark (Greenwich, London) and end at Windsor Castle (where the Queen lives). Walking directly between these two landmarks would cover 28.5 miles 
        (according to Google Maps). However we are planning to strictly follow the River Thames by walking the Thames Path, 
        which would cover a much longer distance. 
        You can learn more about this national trail <a href="https://walkthethames.co.uk/">here</a>.<br><br>
        The distance of the walk is roughly 50 miles (80km) and we are hoping to complete the walk within 20 hours.
        We plan to start the walk at 4AM and finish by midnight, allowing time for short breaks.<br><br>
        For those interested in following our progress on the day, we will be posting updates to our 
        <a href="https://www.instagram.com/cutty2castle/">Instagram page</a>.<br>
        As part of our route we will be walking past loads of cool places like Hampton Court Palace, Richmond,
        Borough Market, Staines Slug & Lettuce, and the big clock in London - so we will be sure to take 
        pics of them for our <a href="https://www.instagram.com/cutty2castle/">Instagram</a> too.<br><br>
        The walk will take place on July 31<sup>st</sup>.<br><br>
    </p>
    <script>animateValue("total", -1, {{ total }}, 2500);</script>
    <script>animateValue("donors", -1, {{ donations }}, 1500);</script>

{% endblock %}